html {
  scroll-behavior: smooth;
}

body {
    background: linear-gradient(#2a3e58 , black 35%, #2a3e58);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.dark {
    filter: brightness(55%);
}

.light {
    filter: brightness(100%);
}

.hidden {
    display: none;
}




/* colors:

#ffffff
#000000

#9a98a7
#79626b
#30445d

*/

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #2a3e58;
}

.bg-1 {
    /* background: linear-gradient(#947c54 , #695634); */
    background: linear-gradient(rgb(114, 96, 64) , rgb(73, 60, 36));
}
.bg-2 {
    background: linear-gradient(#e4e0f1, #babfda);
}
.bg-3 {
    background-color: #7c6369;
}
/* center the bxslider  */
.parent-block img {
  display: block;
  margin: 0 auto;
}
/* make the bxslider arrows render BEHIND the navbar */  
.bx-wrapper .bx-controls-direction a{z-index:100};
