html {
  scroll-behavior: smooth;
  height: 100%; /* for parallax effect */
}

body {
    background: linear-gradient(#2a3e58 , black 35%, #2a3e58);
    height: 100%; /* for parallax effect */
}

.zoom{
    transition: transform 0.2s; /* Animation */
}
.zoom:hover {
    transform: scale(1.07);
}

.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}

.dark {
    filter: brightness(55%);
}

.light {
    filter: brightness(100%);
}

.hidden {
    display: none;
}




/* colors:
#ffffff
#000000
#9a98a7
#79626b
#30445d
*/

.bg-white {
    background-color: #ffffff;
}

.bg-black {
    background-color: #2a3e58;
}

.bg-1 {
    /* background: linear-gradient(#947c54 , #695634); */
    background: linear-gradient(rgb(114, 96, 64) , rgb(73, 60, 36));
}
.bg-1-light {
    background: linear-gradient(rgba(114, 96, 64, 0.7) , rgba(73, 60, 36, 0.7));
}
.bg-2 {
    background: linear-gradient(#e4e0f1, #babfda);
}
.bg-3 {
    background-color: #7c6369;
}

    
    
/* .parallax {
    background-image: url("pic2b.jpg");
    background-color: rgb(114, 96, 64);

    height: 50em;

    background-attachment: fixed;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
} */

.swiper-container {
    width: 60rem;
    height: 33.75rem;
    /* padding: 50px; */
}

.swiper-slide {
    width: 60rem;
    height: 33.75rem;
    background-position: center;
    background-size: cover;
    /* -webkit-filter: blur(3px);
    filter: blur(3px); */
}

/* .bg-image {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */